.App {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Homepage-background {
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0px;
  height: auto;
  opacity: 0.6;
  z-index: -1;
}
