.SearchCuisine input:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.Form {
  padding: 100px;
}

.Button {
  padding: 20px;
}

.TextField {
  padding: 20px;
  margin: 20px;
}

.Label {
  padding: 30px;
}
